## Mission to Mars

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\alig_\anaconda3\lib\site-packages (3.12.0)

In [25]:
# Dependencies
from bs4 import BeautifulSoup as soup
import requests
import pymongo
from splinter import Browser 
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests

## Find the latest news title

In [13]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit site
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

html = browser.html

# Convert browser to soup object
new_soup = soup(html, 'html.parser')

slide_element = new_soup.select_one("ul.item_list li.slide")

# Find the features news title
news_title = slide_element.find("div", class_="content_title").get_text()
print(news_title)

new_paragraph = slide_element.find("div", class_="list_text",).get_text()
print(new_paragraph)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\alig_\.wdm\drivers\chromedriver\win32\94.0.4606.41\chromedriver.exe] found in cache

NASA's Perseverance Rover Cameras Capture Mars Like Never Before
September 23, 2021NASA's Perseverance Rover Cameras Capture Mars Like Never BeforeScientists tap into an array of imagers aboard the six-wheeled explorer to get a big picture of the Red Planet.

## Find the Featured Image

In [35]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit site
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)
browser.links.find_by_partial_text('FULL IMAGE').click()

html = browser.html
new_soup = soup(html, 'html.parser')

# find the full image
image_url = new_soup.find('img',attrs={'class':'fancybox-image'})['src']

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\alig_\.wdm\drivers\chromedriver\win32\94.0.4606.41\chromedriver.exe] found in cache

In [36]:
main_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'

In [37]:
featured_image_url = main_url + image_url
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg

## Mars Facts

In [44]:
# Create url
mars_url = 'https://space-facts.com/mars/'

# Create dataframe
mars_df = pd.read_html(mars_url)[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [45]:
mars_df.columns = ['Description', 'Value']
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [46]:
mars_df.set_index('Description', inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [47]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [57]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# List url
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

# Create html
html = browser.html

hemi_soup = soup(html, 'html.parser')

# Make a list for the hemispheres
hemisphere_image_urls = []

# Find all of the hemispheres
links = browser.find_by_css("a.product-item h3")

for i in range(len(links)):
    hemisphere = {}
    browser.find_by_css("a.product-item h3")[i].click()
    #Find the image tag and extrat
    sample_element = browser.links.find_by_text("Sample").first
    title = browser.find_by_css("h2.title").text
    link = sample_element["href"]
    
    hemisphere["Title"] = title
    hemisphere["Link"] = link
    
    hemisphere_image_urls.append(hemisphere)
    browser.back()
    
print(hemisphere_image_urls)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\alig_\.wdm\drivers\chromedriver\win32\94.0.4606.41\chromedriver.exe] found in cache

[{'Title': 'Cerberus Hemisphere Enhanced', 'Link': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'Link': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'Link': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'Link': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [58]:
browser.quit()